<extend name="$admin_public_layout"/>

<block name="css">
    <!-- <link rel="stylesheet" type="text/css" href="__CUI__/css/cui.extend.min.css"> -->
    
</block>

<block name="main">
    <include file="./Application/Common/Builder/Locality/treecontent.html" />
</block>

<block name="js">
	<script src="/public/common/js/Huploadify/jquery.Huploadify.js"></script>
	<script type="text/javascript">
	//上传插件
	$('#site-menu-upload').Huploadify({
	    auto:true,
	    fileTypeExts:'*.data',
	    multi:false,
	    formData:null,
	    fileSizeLimit:1024,
	    showUploadedPercent:false,
	    showUploadedSize:false,
	    removeTimeout:1000,
	    uploader:'{:U("Site/importMenu")}',
	    onUploadSuccess : function(file, data, response) {
	        var data = JSON.parse(data);
	        if(!data.status){
	            admin.alert("提示信息", data.info,2, '3000');
	        }else{
	            admin.alert("提示信息", data.info,1, '3000');
	            setTimeout(function () {
	                admin.reloadPage();
	            }, 3000);             
	        }
	    },
	    'onUploadError' : function(file, errorCode, errorMsg, errorString) {            
	        admin.alert("提示信息", file.name + ' 上传失败。详细信息: ' + errorString,2, '3000');
	    }
	});
	</script>
	<script>
	$(function(){
	    $('tr[pid!=0]').hide();
	    $('.show').click(function(event){
	        if($(this).hasClass("active")){
	            $(this).removeClass("active");
	            var id = $(this).parents('tr').attr('id');
	            $('tr[pid='+id+']').hide().find('a.show').removeClass("active").find('i.out').html('&#xe61f;').animate({opacity:0},'slow');
	            $('tr[pid='+id+']').each(function () {
	                var zid = $(this).attr("id");
	                $('tr[pid='+zid+']').hide().find('a.show').removeClass("active").find('i.out').html('&#xe61f;').animate({opacity:0},'slow');
	                $('tr[pid='+zid+']').each(function () {
	                    var qid = $(this).attr("id");
	                    $('tr[pid='+qid+']').hide().find('a.show').removeClass("active").find('i.out').html('&#xe61f;').animate({opacity:0},'slow');
	                });
	            });
	            $(this).find('i').html('&#xe61f;');
	        }else{
	            $(this).addClass("active");
	            var id = $(this).parents('tr').attr('id');
	            $('tr[pid='+id+']').show().find('a.show').addClass("active").find('i.out').html('&#xe61c;').animate({opacity:1},'slow');
	            $('tr[pid='+id+']').each(function () {
	                var zid = $(this).attr("id");
	                $('tr[pid='+zid+']').show().find('a.show').addClass("active").find('i.out').html('&#xe61c;').animate({opacity:1},'slow');
	                $('tr[pid='+zid+']').each(function () {
	                    var qid = $(this).attr("id");
	                    $('tr[pid='+qid+']').show().find('a.show').addClass("active").find('i.out').html('&#xe61c;').animate({opacity:1},'slow');
	                });
	            });
	            $(this).find('i').html('&#xe61c;');
	        }
	    });
	    $('.ajax-add').on('click', function (e) {
	        var data = $(this).attr('data-level');
	        if(data >= 3){e.preventDefault();admin.alert('提示信息','对不起，菜单最多4级！',2,'3000');}
	    });    
	    //导出菜单
	    $('.export').on('click', function (e) {
	        e.preventDefault();
	        var btn = $(this),
	            submit = btn.attr('href');
	            myload = layer.load(0,{time:100*1000});
	        $.post(submit,'',function(data){
	            layer.close(layer.load(1));
	            if(!data.status){
	                admin.alert("提示信息", data.info,2, '3000');
	            }else{
	                admin.countdown(3);
	                admin.alert('操作提示', data.info+'<div>程序将在<b style="color:red;" id="second_show">03秒</b>后为你跳转！</div>', 1, '3000');
	                location.href = data.url;             
	            }
	        },'json').error(function(){
	            layer.close(layer.load(1));
	            admin.alert('提示信息',data.responseText,1,'3000');
	        });
	    });
	    //导入菜单
	    $('.import').on('click', function (e) {
	        e.preventDefault();
	        layer.confirm('该操作将清空所有数据，请备份好数据之后再进行导入，确定要继续吗？', {icon: 3,offset:'200px', title:'导入菜单提示'}, function(index){
	            layer.close(index);
	            $("#site-menu-upload .uploadify-button").click();
	        });
	    });
	    
	});
	</script>
</block>